*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

build/

# Android SDK tools
tools/
cmdline-tools.zip
jdk17.zip
download_build_tools.py
*.zip
